@import "tailwindcss";
@import "./assets/stylesheets/header.css";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* QIVIGY Brand Colors (from Figma) */
  --navy: #37516d;
  --burnt-orange: #cc4c27;
  --deep-orange: #cc4900;
  --mint: #67fbdd;
  --peach: #ffd8c8;
  --error-red: #e40901;
  --Linear: linear-gradient(
    90deg,
    var(--navy) 28.26%,
    var(--deep-orange) 83.21%,
    #f3b699 100%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* QIVIGY Brand Colors */
  --color-navy: var(--navy);
  --color-burnt-orange: var(--burnt-orange);
  --color-deep-orange: var(--deep-orange);
  --color-mint: var(--mint);
  --color-peach: var(--peach);
  --color-error-red: var(--error-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  .no-print {
    display: none !important;
  }
}

.max-width {
  @apply w-full max-w-6xl mx-auto;
}
