.calculator-infusions {
  @apply text-base space-y-4 my-8;
}

.calculator-infusions h2 {
  @apply font-bold text-2xl;
}

.calculator-infusions h3 {
  @apply font-semibold text-xl text-deep-orange;
}

.calculator-infusions li {
  @apply text-[18px] leading-[20px] pb-2;
}
