@font-face {
  font-family: "Chesna Grotesk";
  src:
    url("../fonts/ChesnaGrotesk-Black.woff2") format("woff2"),
    url("../fonts/ChesnaGrotesk-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chesna Grotesk";
  src:
    url("../fonts/ChesnaGrotesk-ExtraBold.woff2") format("woff2"),
    url("../fonts/ChesnaGrotesk-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chesna Grotesk";
  src:
    url("../fonts/ChesnaGrotesk-BookItalic.woff2") format("woff2"),
    url("../fonts/ChesnaGrotesk-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Chesna Grotesk";
  src:
    url("../fonts/ChesnaGrotesk-Thin.woff2") format("woff2"),
    url("../fonts/ChesnaGrotesk-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chesna Grotesk";
  src:
    url("../fonts/ChesnaGrotesk-Medium.woff2") format("woff2"),
    url("../fonts/ChesnaGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chesna Grotesk";
  src:
    url("../fonts/ChesnaGrotesk-Book.woff2") format("woff2"),
    url("../fonts/ChesnaGrotesk-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chesna Grotesk";
  src:
    url("../fonts/ChesnaGrotesk-Bold.woff2") format("woff2"),
    url("../fonts/ChesnaGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chesna Grotesk";
  src:
    url("../fonts/ChesnaGrotesk-Regular.woff2") format("woff2"),
    url("../fonts/ChesnaGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chesna Grotesk";
  src:
    url("../fonts/ChesnaGrotesk-SemiBold.woff2") format("woff2"),
    url("../fonts/ChesnaGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
