.home-content {
  @apply flex flex-col items-center justify-center;
}

.home-content h1 span {
  @apply block;
  @apply text-deep-orange font-bold text-2xl tracking-widest;
}

.home-content h2 {
  @apply text-xl font-extrabold text-deep-orange tracking-wide leading-tight;
}

.home-content__callout {
  @apply flex flex-row items-center justify-center gap-4 mx-4 md:mx-2 lg:mx-0;
  @apply bg-white/90 border-3 border-navy p-4 rounded-[10px] mb-2 mt-2;
}

.home-content__callout p {
  @apply text-base lg:text-lg leading-tight;
}

.home-content__callout p strong {
  @apply font-bold text-lg lg:text-2xl leading-tight;
}

.home-content__callout__number {
  @apply text-[96px] font-extrabold text-deep-orange leading-none;
}

.home-content__triptych {
  @apply lg:grid lg:grid-cols-3 lg:gap-0 items-start;
  @apply max-w-3xl mx-auto;
  @apply mx-5 md:mx-0;
}

.home-content .item {
  @apply px-4 py-2 lg:p-4 lg:flex lg:flex-col lg:gap-1 lg:items-center lg:justify-center;
}

.home-content .item p {
  @apply text-lg leading-tight;
  @apply flex flex-row items-center justify-start gap-2 text-left;
  @apply lg:flex-col lg:text-center lg:gap-0;
}

.home-content .item__number {
  @apply text-6xl leading-none font-extrabold text-deep-orange;
  @apply block float-left;
  @apply flex flex-row items-start justify-center;
}

.home-content .item__break {
  @apply block md:hidden;
}

.home-content .item__number span {
  @apply text-4xl;
}

.home-content .item__focus {
  @apply tracking-[-0.02em] leading-none;
}

.home-content .item__focus strong {
  @apply lg:block lg:text-2xl font-bold text-navy leading-none mb-1;
}
