.patient-support-copay {
  @apply text-lg space-y-4 font-sans py-4;
}

.patient-support-copay h2 {
  @apply font-bold text-3xl;
}

.patient-support-copay h3 {
  @apply font-semibold text-2xl;
}

.patient-support-copay h4 {
  @apply font-bold text-xl;
}

.patient-support-copay ul {
  @apply list-disc list-outside pl-4;
}

.patient-support-copay li {
  @apply marker:text-deep-orange;
}

.patient-support-copay__callout {
  max-width: 810px;
  @apply mx-auto my-8 text-center;
}

.patient-support-copay__callout__block {
  @apply bg-white border-3 border-navy p-8 rounded-xl mb-4;
  @apply text-xl text-deep-orange;
}

.patient-support-copay__callout__description {
  @apply text-base;
}

.patient-support-copay-reimbursement {
  @apply bg-red-50;
  --curve-height: 20px; /* Fixed height for the top curve - adjust as needed */

  clip-path: polygon(
    0% var(--curve-height),
    0% var(--curve-height),
    0.388% calc(var(--curve-height) * 0.972),
    1.6% calc(var(--curve-height) * 0.896),
    3.713% calc(var(--curve-height) * 0.784),
    6.8% calc(var(--curve-height) * 0.648),
    10.938% calc(var(--curve-height) * 0.500),
    16.2% calc(var(--curve-height) * 0.352),
    22.663% calc(var(--curve-height) * 0.216),
    30.4% calc(var(--curve-height) * 0.104),
    39.488% calc(var(--curve-height) * 0.028),
    50% 0,
    50% 0,
    60.513% calc(var(--curve-height) * 0.028),
    69.6% calc(var(--curve-height) * 0.104),
    77.338% calc(var(--curve-height) * 0.216),
    83.8% calc(var(--curve-height) * 0.352),
    89.063% calc(var(--curve-height) * 0.500),
    93.2% calc(var(--curve-height) * 0.648),
    96.288% calc(var(--curve-height) * 0.784),
    98.4% calc(var(--curve-height) * 0.896),
    99.613% calc(var(--curve-height) * 0.972),
    100% var(--curve-height),
    100% 100%,
    0% 100%,
    0% var(--curve-height)
  );
}
