.patient-support-copay,
.patient-support-copay-reimbursement {
  @apply text-lg space-y-4 font-sans py-4;
}

.patient-support-copay h2,
.patient-support-copay-reimbursement h2 {
  @apply font-bold text-3xl;
}

.patient-support-copay h3,
.patient-support-copay-reimbursement h3 {
  @apply font-semibold text-2xl;
}

.patient-support-copay h4,
.patient-support-copay-reimbursement h4 {
  @apply font-bold text-xl;
}

.patient-support-copay ul {
  @apply list-disc list-outside pl-4;
}

.patient-support-copay li {
  @apply marker:text-deep-orange;
}

/* CALLOUT */
.patient-support-copay__callout {
  max-width: 810px;
  @apply mx-auto my-8 text-center;
}

.patient-support-copay__callout__block {
  @apply bg-white border-3 border-navy p-8 rounded-xl mb-4;
  @apply text-xl text-deep-orange text-balance;
}

.patient-support-copay__callout__description {
  @apply text-base text-balance;
}

/* REIMBURSEMENT */
.patient-support-copay-reimbursement p {
  @apply font-bold text-xl;
}

.patient-support-copay-reimbursement__support {
  @apply flex flex-col md:grid md:grid-cols-2 gap-4 max-w-2xl;
}

.patient-support-copay-reimbursement__support li {
  @apply flex flex-row items-center gap-4;
  @apply leading-tight;
}

.patient-support-copay-reimbursement__connect {
  @apply flex flex-col gap-4 md:flex-row items-start md:items-center justify-start;
  @apply md:divide-navy md:divide-x-2;
}

.patient-support-copay-reimbursement__connect img {
  @apply w-10 h-10;
}

.patient-support-copay-reimbursement__connect li {
  @apply md:px-8 md:first:pl-0 md:last:pr-0;
  @apply flex flex-row items-center justify-start gap-4;
  @apply leading-tight;
  @apply text-deep-orange text-lg md:text-2xl font-bold;
}

.patient-support-copay-reimbursement__connect a {
  @apply break-all;
}
