.starting-qivigy {
  @apply text-lg space-y-4;
}

.starting-qivigy h2 {
  @apply font-bold text-3xl;
}

.starting-qivigy h3 {
  @apply font-semibold text-2xl text-deep-orange;
}

.starting-qivigy dl {
  @apply md:grid md:grid-cols-[1fr_3fr];
  @apply border-2 border-navy;
  @apply rounded-[10px] shadow-lg bg-white;
  @apply overflow-hidden text-base;
}

.starting-qivigy dl dt {
  @apply bg-navy text-white p-8 md:text-center leading-tight;
}

.starting-qivigy dl dt:not(:last-child),
.starting-qivigy dl dd:not(:last-child) {
  @apply border-b-2 border-navy;
}

.starting-qivigy dl dt strong {
  @apply block md:text-xl leading-tight;
}

.starting-qivigy dl dd {
  @apply font-normal p-8 leading-tight;
}

.starting-qivigy dl dd strong {
  @apply block md:text-xl leading-tight;
}

.starting-qivigy .starting-qivigy__characteristics {
  @apply flex flex-col md:grid md:grid-cols-2 gap-8;
}

.starting-qivigy .starting-qivigy__characteristics li {
  @apply flex items-center gap-4;
}

.starting-qivigy .starting-qivigy__characteristics strong {
  @apply text-deep-orange;
}

.starting-qivigy__ndc-table-wrapper {
  @apply inline-block border-2 border-navy rounded-[10px] shadow-lg overflow-scroll w-full;
}

.starting-qivigy__ndc-table {
  @apply w-full text-base border-separate border-spacing-0;
}

.starting-qivigy__ndc-table thead th {
  @apply bg-navy text-white font-semibold md:px-8 px-4 md:py-4 py-2 text-center;
}

.starting-qivigy__ndc-table thead th:first-child {
  @apply text-left;
}

.starting-qivigy__ndc-table thead th:not(:last-child) {
  @apply border-r border-white;
}

.starting-qivigy__ndc-table tbody tr {
  @apply bg-white;
}

.starting-qivigy__ndc-table tbody tr:last-child td {
  @apply border-b-0;
}

.starting-qivigy__ndc-table tbody td {
  @apply md:px-8 px-4 md:py-4 py-2 align-middle border-b-2 border-r-2 border-navy;
}

.starting-qivigy__ndc-table tbody td:last-child {
  @apply border-r-0;
}

.starting-qivigy__ndc-table tbody td:nth-child(2),
.starting-qivigy__ndc-table tbody td:nth-child(3) {
  @apply text-center font-semibold;
}

.starting-qivigy .starting-qivigy__customer-service {
  @apply flex flex-col md:grid md:grid-cols-2 gap-8 text-base;
}

.starting-qivigy .starting-qivigy__customer-service h2 {
  @apply font-bold text-xl text-deep-orange;
}

.starting-qivigy .starting-qivigy__customer-service li {
  @apply flex items-center gap-4;
}

.starting-qivigy .starting-qivigy__customer-service p {
  @apply leading-tight;
}

.starting-qivigy .starting-qivigy__customer-service a {
  @apply break-all;
}

.starting-qivigy .starting-qivigy__customer-service strong {
  @apply text-deep-orange;
}
